* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Raleway", sans-serif;
  background: rgb(209, 206, 255);
  background: linear-gradient(
    90deg,
    rgba(209, 206, 255, 1) 3%,
    rgba(221, 219, 255, 1) 11%,
    rgba(244, 243, 255, 1) 100%
  );
}
.main {
  width: 100%;
}
.menunav {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin: 5px auto;
  height: 100px;
}

#logo #imglogo {
  height: 100px;
  border-radius: 15px;
  background-color: transparent;
}

.topnav {
  display: flex;
  flex-direction: row;
  width: 60%;
  justify-content: end;
  gap: 5px;
  height: 100px;
  align-items: center;
  transition: all 0.8s ease;
}

nav > div > a {
  text-decoration: none;
  background-color: #287dae;
  color: aliceblue;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  text-align: center;
  width: 150px;
  border-radius: 15px;
  border: solid 2px #287dae;
}

nav > div > a:hover {
  text-decoration: none;
  background-color: aliceblue;
  color: #287dae;
  border: solid 2px #287dae;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  text-align: center;
  width: 150px;
  border-radius: 15px;
}

#msgsenta {
  text-decoration: none;
  background-color: #287dae;
  color: aliceblue;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  text-align: center;
  width: 150px;
  border-radius: 15px;
  border: solid 2px #287dae;
  margin: auto;
}

#msgsenta:hover {
  text-decoration: none;
  background-color: aliceblue;
  color: #287dae;
  border: solid 2px #287dae;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  text-align: center;
  width: 150px;
  border-radius: 15px;
  margin: auto;
}

#msgsent {
  margin: 50px auto;
  width: 80%;
  text-align: center;
  font-size: 2em;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px auto;
}

#div1 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: #287dae;
  text-align: center;
  width: 90%;
  align-items: center;
  margin: auto;
}

#imgphoto {
  margin: 10px;
  border-radius: 15px;
  min-width: 120px;
}

#divimg {
  height: 60px;
  width: 90%;
  background: url(/images/coding.png);
  background-position: center;
  background-size: cover;
  margin: auto;
  border-radius: 10px;
}

.divtext {
  background-color: #287dae;
  color: aliceblue;
  width: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 5px;
}

.atext {
  color: aliceblue;
}

.atext:hover {
  color: rgba(2, 2, 58, 0.795);
}
.divcontact {
  width: 90%;
  align-items: center;
  margin: 20px auto;
  border-radius: 5px;
}

.divcontact2 {
  display: flex;
  justify-content: space-between;
}

.divcontact3 {
  display: flex;
  justify-content: space-between;
}

#divname,
#divemail {
  width: 49%;
}

label {
  background-color: #287dae;
  color: aliceblue;
  padding: 8px;
  border-radius: 15px;
  width: 160px;
  font-size: 1.3em;
}

#buttonsubm {
  background-color: #287dae;
  color: aliceblue;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  width: 160px;
  border-radius: 15px;
  border: solid #287dae 2px;
  margin: 5px auto;
}

#buttonsubm:hover {
  background-color: aliceblue;
  color: #287dae;
  cursor: pointer;
  padding: 8px;
  font-size: 1.3em;
  width: 160px;
  border-radius: 15px;
  border: solid #287dae 2px;
  margin: 5px auto;
}

p,
p > b {
  text-align: center;
  background-color: #287dae;
  color: aliceblue;
  width: 90%;
  padding: 8px;
  font-size: 1.5em;
  margin: auto;
}

div input {
  font-size: 1.2em;
  padding: 02px;
  margin-bottom: 5px;
}
.form-label {
  padding: 5px;
  font-size: 1.3em;
}
#imgphoto {
  border-radius: 50%;
  width: 18%;
}

.close {
  align-self: flex-end;
}

#projects {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  padding: 10px;
}

#project1 {
  background: url(/images/senac.png);
  display: grid;
  width: 25%;
  min-width: 200px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  background-position: center;
  cursor: pointer;
  background-size: cover;
}

#project2 {
  background: url(/images/sms.png);
  background-size: 200px;
  display: 200px;
  width: 25%;
  min-width: 200px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#project3 {
  background: url(/images/simulador.png);
  display: grid;
  color: rgb(2, 2, 54);
  width: 25%;
  min-width: 200px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

#hidden1,
#hidden2,
#hidden3 {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(2, 2, 54);
  font-weight: 500;
  border-radius: 5px;
  text-align: center;
  height: 200px;
  justify-content: center;
  backdrop-filter: blur(20px);
}

.aproject {
  color: rgb(2, 2, 54);
  font-size: 1.5em;
}

div > div > a {
  text-decoration: none;
}

div > div > a:hover {
  text-decoration: none;
  color: rgb(2, 2, 54);
}
div > #hidden1 > a {
  color: rgb(2, 2, 54);
  font-weight: 500;
}

footer {
  background-color: #287dae;
  margin: 10px auto;
  width: 90%;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
footer > p {
  border: solid 3px #287dae;
  background-color: white;
  color: #287dae;
  border-radius: 5px;
  width: 90%;
  margin: auto;
}

@media only screen and (max-width: 699px) {
  #projects {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
  }
}

/* Hide the link that should open and close the topnav on small screens */
#icon {
  display: none;
}

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 499px) {
  .topnav {
    display: none;
  }

  #icon {
    float: right;
    display: block;
    text-decoration: none;
    background-color: #287dae;
    color: aliceblue;
    cursor: pointer;
    padding: 8px;
    font-size: 1.3em;
    text-align: center;
    width: 45px;
    border-radius: 50px;
    border: solid 2px #287dae;
    align-self: center;
    justify-self: center;
  }

  #icon:hover {
    float: right;
    display: block;
    text-decoration: none;
    background-color: aliceblue;
    color: #287dae;
    cursor: pointer;
    padding: 8px;
    font-size: 1.3em;
    text-align: center;
    width: 45px;
    border-radius: 50px;
    border: solid 2px #287dae;
    align-self: center;
    justify-self: center;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 499px) {
  .topnav.responsive {
    display: flex;
    flex-direction: column;
    gap: 5px;
    position: absolute;
    right: 0px;
    top: 150px;
    transition: all 0.8s ease;

    animation-duration: 1s;
    animation-name: slidein;
  }
  @keyframes slidein {
    from {
      margin-right: 100%;
    }

    to {
      margin-right: 0%;
    }
  }
}
