<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="/style/style.css"  type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;1,100&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/logo_site.png" type="image/x-icon" />
  </head>
  <body>
    <main class="main"> 
      
      <nav class="menunav" >
        <figure id="logo">
          <a href="/"
            ><img id="imglogo" src="/images/logo_site.png" alt="marcelo"
          /></a>
        </figure>
        <div id="navmenu" class="topnav">
          <a href="#div3" onclick="topnav()" >PROJECTS</a>
          <a href="/Marcelo_Mariano_DEV.pdf" target=”blank”  onclick="topnav()">RESUME</a>
          <a href="mailto:marcelomariano11@gmail.com" onclick="topnav()">CONTACT</a>

        </div>          
        <a href="javascript:void(0);" id="icon" onclick="responsive()">&#9776;</a>
        
      </nav>
      <section class="section">
        <div id="div1">
          <h1>Full Stack Developer</h1>
          <h5>JAVASCRIPT | NODEJS | PHP | HTML | CSS | MySQL </h5>
          <img
            id="imgphoto"
            src="/images/mmphotoligth.jpg"
            alt="foto marcelo"
          />
        </div>
        <div id="divimg"></div>
        <div id="div2" class="divtext">
          <p>
            <b>Hi! I'm Marcelo, nice to see you here!</b> <br/>
            Working with a Human Centred Approach is the purpose of my career and applying this 
            philosophy to IT is solving people's problems simply and efficiently. <br>

            As a critical analytical thinker, I believe that client-driven experience is the game 
            changer to business success. <br>

            For over 18 years, I have been part of the financial market, especially in mid-market 
            corporations office, where the main goal of the teams I take part were to help customers expand their business.

         
            <br />
            Feel free to download my resume and
            <a class="atext" href="mailto:marcelomariano11@gmail.com"
              >contact me!
            </a>
          </p>
        </div>
      </section>
      <hr style="width: 90% ; margin:10px auto ">
      <div id="div3">
        <div class="divtext">
          <p>
            Take a look at some projects I've been working on! Access it on  
                      <a class="atext" href="https://github.com/mmar11">
              <span
                >Github!<svg
                  height="32"
                  aria-hidden="true"
                  viewBox="0 0 16 16"
                  version="1.1"
                  width="32"
                  data-view-component="true"
                  class="octicon octicon-mark-github v-align-middle"
                >
                  <path
                    fill-rule="evenodd"
                    d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
                  ></path>
                </svg>
              </span>
            </a>
          </p>
        </div>
        <div id="projects" class="divtext">
          <div id="project1">
            <div id="hidden1" hidden>
              <h4>On line feedback APP</h4>
              <a class="aproject" href="https://github.com/mmar11/sistema"
              >Final project of the PHP formation, manage a database to create
            users and allows on-line feedback and evaluations from users</a>
            </div>
          </div>
          <div id="project2">
            <div id="hidden2" hidden >
              <h4>SMS API - Twilio</h4>
              <a class="aproject" href="https://github.com/mmar11/APISMS"
              >API REST that integrates user code to the Twilio SMS API - Email
              API integration under development</a>
            </div>
          </div>
          <div id="project3">   
            <div id="hidden3" hidden>
              <h4>Loan Simulator</h4>
              <a class="aproject" href="https://github.com/mmar11/loan_simulator_SAC"
              >Loan Simulator - Allows users to simulate loans - English version
              under developement
              </a>
            </div>
          </div>
      </div>
    </main>

    <footer>

      <p>You can also find me at <a href="https://www.linkedin.com/in/marcelo-mariano-14934141/"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
  <path d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"></path>
        </svg></a> - <a href="https://github.com/mmar11"><svg
          height="32"
          aria-hidden="true"
          viewBox="0 0 16 16"
          version="1.1"
          width="32"
          data-view-component="true"
          class="octicon octicon-mark-github v-align-middle"
          >
          <path
          fill-rule="evenodd"
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
          ></path>
        </svg></a>
        <br> Montreal, QC - Canada 
      </p>
    </footer>


    <script src="/script/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
