<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome!</title>
    <link rel="stylesheet" href="/style/style.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />

    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,300;0,500;1,100&display=swap"
      rel="stylesheet"
    />
    <link
      rel="shortcut icon"
      href="/images/logo_site.png"
      type="image/x-icon"
    />
  </head>
  <body>
    <main class="main">
      <nav class="menunav">
        <figure id="logo">
          <a href="/"
            ><img id="imglogo" src="/images/logo_site.png" alt="marcelo"
          /></a>
        </figure>
        <div id="navmenu" class="topnav">
          <a href="/Marcelo_Mariano_DEV.pdf" target="”blank”" onclick="topnav()"
            >RESUME</a
          >
          <a href="/" onclick="topnav()">BACK</a>
        </div>
        <a href="javascript:void(0);" id="icon" onclick="responsive()"
          >&#9776;</a
        >
      </nav>
      <section class="section">
        <label id="msgsent" class="form-label"
          >Message Sent! I will be in touch soon! Thanks!</label
        >
        <a id="msgsenta" href="/" onclick="topnav()">BACK</a>
      </section>
    </main>

    <script src="/script/script.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
